<ion-header [translucent]="true">
  <ion-toolbar>
	<ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/logeado"></ion-back-button>
    </ion-buttons>
    <ion-title>clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="nombre" placeholder="Ingrese nombre del cliente"></ion-input>
  <ion-input [(ngModel)]="email" placeholder="Ingrese email del cliente"></ion-input>
  <ion-input [(ngModel)]="direccion" placeholder="Ingrese direccion del cliente"></ion-input>
  <ion-button (click)="postCliente()">Agregar</ion-button>
</ion-content>