<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido al sitio de la empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="primary">Retail Off</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="../../assets/img/ro.png">
      <br>
      <ion-button routerLink="/login">Iniciar Sesión</ion-button>
      <br>
      <br>
      <h2 class="Sans Serif">¿Aún no estás Registrado?</h2>
      <ion-button routerLink="/registro">Regístrate con nosotros</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
